ENVIRONMENT="your environment"

# Postgres
DB_DRIVER=your driver
DB_USER=your user
DB_PASSWORD=your password
DB_HOST=your host
DB_PORT=your port
DB_NAME=your db name

#Redis
REDIS_HOST = your host
REDIS_PORT = your port

#JWT
SECRET_KEY = your secret key
ALGORITHM = your algorithm
