ENVIRONMENT=YOUR ENVIRONMENT

# Postgres
DB_DRIVER=postgresql+asyncpg
DB_USER=postgres
DB_PASSWORD=your password
DB_HOST=your host
DB_PORT=your port
DB_NAME=your db name


#Redis
REDIS_PORT=your port
REDIS_HOST=your host